.header__lang-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 18px;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media all and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}