.cover__link {
  z-index: 2;
  grid-row: 1/2;
  grid-column: 1/2;
  color: #ffffff;
  text-decoration: none;
  padding-top: 245px;
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.5);
}

@media all and (max-width: 1024px) {
  .cover__link {
    padding-top: 195px;
  }
}

@media all and (max-width: 768px) {
  .cover__link {
    padding-top: 115px;
  }
}

@media all and (max-width: 320px) {
  .cover__link {
    padding-top: 33px;
  }
}
