.places {
  max-width: 984px;
  margin: 92px auto;
}

@media all and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media all and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px auto 90px;
  }
}

@media all and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin-top: 64px;
    margin-bottom: 66px;
  }
}
