.cover__subtitle {
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  max-width: 360px;
  justify-self: center;
  align-self: end;
  margin: auto;
  padding-top: 32px;
  font-weight: 400;
}

@media all and (max-width: 600px) {
  .cover__subtitle {
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.1;
    max-width: 260px;
  }
}