.footer__link {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.1;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:last-of-type {
    margin-right: 0;
}

@media all and (max-width:583px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        display: block;
        margin-bottom: 32px;
    }
}