@font-face {
    src: 
        url(/fonts/Inter-3.19/Inter-Regular.woff) format('woff'),
        url(/fonts/Inter-3.19/Inter-Regular.woff2) format('woff2');
    font-family: 'Inter';       
}

@font-face {
    src: 
        url(/fonts/Inter-3.19/Inter-Bold.woff) format('woff'),
        url(/fonts/Inter-3.19/Inter-Bold.woff2) format('woff2');
    font-family: 'Inter Bold';       
}

.wrapper {
    background-color:#2A2C2F;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
}

