.lead__image{
justify-self: center;
width: 100%;
}
/*
@media all and (max-width: 1024px) {
    .lead__image{
        max-width: 928px;
    }
}

@media all and (max-width: 768px) {
    .lead__image{
        max-width: 768px;
    }
}

@media all and (max-width: 320px) {
    .lead__image{
        max-width: 320px;
    }
}