.intro{
    color: #FFFFFF;
    max-width: 984px;
    margin: 92px auto;
}

@media all and (max-width: 1024px) {
    .intro{
        margin-left: 48px;
        }
    }

@media all and (max-width: 768px) {
    .intro{
        margin-left: 24px;
        margin-top: 88px;
        }
    }

@media all and (max-width: 320px) {
   .intro{
        margin-left: 24px;
        margin-top: 64px;
            }
        }