.cover {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: stretch;
  align-items: stretch;
  margin: 92px auto;
  max-width: 1184px;
}

@media all and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media all and (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}

@media all and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin: 0 auto 64px;
  }
}
