.caption{
    color: #FFFFFF;
    margin-top: 8px;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    justify-self: start;
    font-weight: 400;
}

@media all and (max-width: 768px) {
    .caption{
        margin-left: 24px;
    }
}

@media all and (max-width: 320px) {
    .caption{
        margin-left: 16px;
    }
}