.cover__title {
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #ffffff;
  max-width: 560px;
  margin: auto;
  font-weight: 900;
}

@media all and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
  }
}
