.cover__title {
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    font-family: Inter Bold;
    justify-self: center;
    align-self: start;
    margin: auto;
}

@media all and (max-width: 600px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 240px;
    }
    
}