.place__paragraph_two {
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    max-width: 484px;
    padding-top: 26px;
    margin: 0;
}

@media all and (max-width: 768px) {
    .place__paragraph_two {
        font-size: 16px;
        line-height: 1.6;
    }    
}

@media all and (max-width: 583px) {
    .place__paragraph_two {
        padding:0 16px;
    }  
}