.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  column-gap: 40px;
}

@media all and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media all and (max-width: 583px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: auto;
    padding-bottom: 50px;
  }
}