.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
  margin-top: 80px;
}

@media all and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media all and (max-width: 768px) {
  .place {
    margin-top: 73px;
  }
}
@media all and (max-width: 583px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-top: 50px;
  }
}
