.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px 24px;
}

@media all and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media all and (max-width: 765px) {
  .footer {
    margin: 0 24px 24px;
    flex-direction: column;
  }
}

@media all and (max-width: 583px) {
  .footer {
    margin-left: 16px;
   align-items: start;
  }
}

@media all and (max-width: 320px) {
  .footer {
    max-width: 186px;
  }
}