.place__url-heading {
  font-size: 12px;
  line-height: 1.6;
  color: #aaaaaa;
  letter-spacing: 2px;
  margin: 0;
}

@media all and (max-width: 768px) {
  .place__url-heading {
    line-height: 12px;
    margin-top: 0;
  }
}