.intro__title{
    font-family: Inter Bold;
    font-size: 54px;
    line-height: 1.07;  
    margin: 0 0 40px;
}

@media all and (max-width: 440px) {
    .intro__title{
        font-size: 40px;
        line-height: 1.09;
    }
}

@media all and (max-width: 320px) {
    .intro__title{
        max-width: 230px;
        font-size: 32px;
        line-height: 1.09;
        }
    }